{% extends "base.html" %}

{% block body %}

<main id="dashboard">

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>{{dict_dashboard[0].Day}}</p></span>
              <span class="text-center"><h2>{{dict_dashboard[0].Date}}</h2></span>
              <span class="text-center grey-text text-darken-1"><p>{{dict_dashboard[0].Month}}</p></span>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>Remaining leaves</p></span>
              <span class="text-center"><h1>{{dict_dashboard[0].remaining_leaves}}</h1></span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>Leaves availed</p></span>
              <span class="text-center"><h1>{{dict_dashboard[0].availed_leaves}}</h1></span>
            </div>
          </div>
        </div>                      
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m8 l8">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <p>Calender</p>
              <h1>OK</h1>
            </div>
          </div>
        </div>

        <div class="col s8 m4 l4">
          <div class="card white darken-1">
            <div class="card-content black-text">

              <p>Leaves History</p>
              <div class="entry">
                <table>
                {% for item in dict_dashboard %}
                {% if loop.index > 1 %}
                  <tr>
                    <td>
                      <div class="ellipse">
                        <div class="initial center-align">
                          <span class="small"><p>{{item.from_month}}</p></span>
                          <span class="big"><p><strong>{{item.from_date}}</strong></p></span>
                        </div>
                        <br>
                        <div class="end center-align">
                          <span class="big"><p><strong>{{item.to_date}}</strong></p></span>
                          <span class="small"><p>{{item.to_month}}</p></span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="pad-left">
                        <p><strong>{{item.leave_type}}</strong></p>
                        <p>{{item.purpose}}</p>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}