{% extends "base.html" %}

{% block body %}

<main id="dashboard">

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>Wednesday</p></span>
              <span class="text-center"><h2>19</h2></span>
              <span class="text-center grey-text text-darken-1"><p>March</p></span>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>Remaining leaves</p></span>
              <span class="text-center"><h1>19</h1></span>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card little white darken-1">
            <div class="card-content little black-text">
              <span class="text-center grey-text text-darken-2"><p>Leaves availed</p></span>
              <span class="text-center"><h1>20</h1></span>
            </div>
          </div>
        </div>						    			
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="col s12 m8 l8">
          <div class="card white darken-1">
            <div class="card-content black-text">
              <p>Calender</p>
              <h1>OK</h1>
            </div>
          </div>
        </div>

        <div class="col s8 m4 l4">
          <div class="card white darken-1">
            <div class="card-content black-text">

              <p>Leaves History</p>
              <div class="entry">
                <table>
                  <tr>
                    <td>
                      <div class="ellipse">
                        <div class="initial center-align">
                          <span class="small"><p>May</p></span>
                          <span class="big"><p><strong>18</strong></p></span>
                        </div>
                        <br>
                        <div class="end center-align">
                          <span class="big"><p><strong>20</strong></p></span>
                          <span class="small"><p>May</p></span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="pad-left">
                        <p><strong>Medical</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus repellendus libero quibusda</p>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

{% endblock %}