<div class="newleave">

  <form data-resource="leave">

    <div class="notice">.</div>

    <div class="row">
      <div class="input-field col l6">
        <label for="">Start Date</label>
        <input type="text" class="datepicker" name="first_name">
      </div>

      <div class="input-field col l6">
        <label for="">End Date</label>
        <input type="text" class="datepicker" name="end_date">
      </div>
    </div>

    <div class="row">

      <div class="input-field col l6">

        <select name="leave_type">
          <option value="Medical">Medical</option>
          <option value="General">General</option>
        </select>
        <label for="">Leave Type</label>
      </div>

      <div class="input-field col l6">
        <label for="">Purpose</label>
        <input type="text" name="purpose">
      </div>
    </div>
    
    <center>
      <button type="submit" class="btn center">APPLY</button>
    </center>
  </form>
</div>