<div class="newemployee">

  <form data-resource="employee" method="POST">

    <div class="notice">.</div>

    <div class="row">
      <div class="input-field col m6 s12">
        <label for="">First Name</label>
        <input type="text" name="first_name">
      </div>
      <div class="input-field col m6 s12">
        <label for="">Last Name</label>
        <input type="text" name="last_name">
      </div>
    </div>

    <div class="row">
      <div class="input-field col m6 s12">
        <label for="">Designation</label>
        <input type="text" name="designation">
      </div>
      <div class="input-field col m6 s12">
        <select type="text" name="department">
          <option value="HR">HR</option>
        </select>
        <label for="">Department</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <label for="">Date of Joining</label>
      <input type="text" class="datepicker" name="date_of_joining">
    </div>
    <div class="input-field col m6 s12">
      <input type="text" name="reporting_manager_id" list="names">
      <datalist  id="names"></datalist>
      <label for="">Reporting Manager</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <label for="">Salary</label>
      <input type="text" name="salary">
    </div>
    <div class="input-field col m6 s12">
      <label for="">Email Address</label>
      <input type="email" name="email">
    </div>
  </div>

  <center>
    <button type="submit" class="btn center">ADD</button>
  </center>
</form>
</div>