{% extends "base.html" %}

{% block body %}	
<main>
	<div class="row download">
		<div class="col s6 m8 l10 offset-s6 offset-m2 offset-l1 right-align">
			<p class="title right-align">Move to Excel</p>
		    <a href="#addemployee" class="btn slim outline trigger">
		      <i class="material-icons left">file_download</i>
		      <span>Download</span>
		    </a>
		</div>
	</div>	

	<div class="row">
		<div class="col s12 m8 l10 offset-l1 offset-m2">
	      <div class="card leaves">
	        <p class="card-title">Leaves History</p>
	        <div class="card-content">

	          <div class="request">
	            <ul class="collapsible" data-collapsible="accordion">
	              

	              <li class="collection-item border-top">
	                <div class="collapsible-header">
	                  <div class="type medical">
	                    <p>M</p>
	                  </div>
	                  <div class="duration">
	                    12-12-18 to 15-12-18
	                  </div>
	                  <div class="status approved">
	                    <p>approved</p>
	                  </div>
	                </div>
	                <div class="collapsible-body">
	                  <div class="col s12 first-row">
	                    <p><span class="bold">EMP-ID</span>&emsp; 09409</p>
	                    <p><span class="bold">Dates</span>&emsp; 12-12-12 to 12-12-12</p>
	                    <p><span class="bold">Type</span>&emsp; General</p>
	                    <p><span class="bold">Purpose</span>&emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam cupiditate harum! Quae saepe eveniet laborum, hic, cupiditate qui accusamus incidunt deserunt quod earum perferendis! Vero dolor odit autem ducimus?</p>
	                    <br>
	                  </div>

	                  <div class="row">
	                    <div class="col l6">
	                      <p class="bold">HR Remarks</p>
	                      <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam assumenda temporibus corporis, consequuntur officiis molestias, pariatur ad dolorum debitis aperiam earum aliquam molestiae laboriosam reiciendis quos. Fugiat, tempora, quia.</p>
	                    </div>
	                    <div class="col l6">
	                      <p class="bold">Manager Remarks</p>
	                      <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam assumenda temporibus corporis, consequuntur officiis molestias, pariatur ad dolorum debitis aperiam earum aliquam molestiae laboriosam reiciendis quos. Fugiat, tempora, quia.</p>
	                    </div>
	                  </div>
	                </div>
	              </li>

	              <li class="collection-item border-top">
	                <div class="collapsible-header">
	                  <div class="type medical">
	                    <p>M</p>
	                  </div>
	                  <div class="duration">
	                    12-12-18 to 15-12-18
	                  </div>
	                  <div class="status approved">
	                    <p>approved</p>
	                  </div>
	                </div>
	                <div class="collapsible-body">
	                  <div class="col s12 first-row">
	                    <p><span class="bold">EMP-ID</span>&emsp; 09409</p>
	                    <p><span class="bold">Dates</span>&emsp; 12-12-12 to 12-12-12</p>
	                    <p><span class="bold">Type</span>&emsp; General</p>
	                    <p><span class="bold">Purpose</span>&emsp; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam cupiditate harum! Quae saepe eveniet laborum, hic, cupiditate qui accusamus incidunt deserunt quod earum perferendis! Vero dolor odit autem ducimus?</p>
	                    <br>
	                  </div>

	                  <div class="row">
	                    <div class="col l6">
	                      <p class="bold">HR Remarks</p>
	                      <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam assumenda temporibus corporis, consequuntur officiis molestias, pariatur ad dolorum debitis aperiam earum aliquam molestiae laboriosam reiciendis quos. Fugiat, tempora, quia.</p>
	                    </div>
	                    <div class="col l6">
	                      <p class="bold">Manager Remarks</p>
	                      <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veniam assumenda temporibus corporis, consequuntur officiis molestias, pariatur ad dolorum debitis aperiam earum aliquam molestiae laboriosam reiciendis quos. Fugiat, tempora, quia.</p>
	                    </div>
	                  </div>
	                </div>
	              </li>

	            </ul>
	          </div>
	          <!-- < div history end> -->
	        </div>
	      </div>
	    </div>
	</div>		
</main>

{% endblock %}