{% if current_user.role == 'HR Manager' %}
{% set approval_field = 'hr_approval' %}
{% elif current_user.role == 'General Manager' %}
{% set approval_field = 'gm_approval' %}
{% else %}
{% set approval_field = 'manager_approval' %}
{% endif %}

<div class="card encashment-requests text-center">
  <p class="card-title"><i class="material-icons">event</i> <span>Encashment Requests</span></p>
  <ul class="collapsible padded" data-collapsible="accordion">

    {% for item in list_items %}
    
    {% if item[1][approval_field] is none %}
    {% set status = 'pending' %}
    {% else %}
    {% set status = item[1][approval_field] %}
    {% endif %}

    <li class="collection-item {{status|lower}}">
      <div class="collapsible-header">
        <div class="name">
          {{ item[0].first_name }} 
          {% if item[0].last_name is not none %}
          {{ item[0].last_name }}
          {% endif %}
          
        </div>
        <p class="date"><i class="material-icons">date_range</i> <span>{{item[1].time_stamp.strftime('%b %d, %Y')}}</span></p>
        <div class="status"></div>
      </div>

      <div class="collapsible-body">  

        <p class="light text-center">{{item[0].designation + ', ' + item[0].department.name}}</p>
        <br>
        <div class="row">
          <div class="col s12 m6">
            <div class="row left-align">
              <p><strong>Leaves Utilized</strong>&emsp;{{item[1].leaves_utilized|round(0,'floor')|int }}</p>
            </div>
            <div class="row left-align">
              <p><strong>Amount Encashed</strong>&emsp;{{ item[1].amount|round(0,'floor')|int }}</p>
            </div>              
          </div>

          <div class="col s12 m6">
            <div class="row left-align">
              <p><strong>Remaining Leaves</strong>&emsp;{{item[0].general_leaves_remaining|round(0,'floor')|int}}</p>
            </div>
            <div class="row left-align">
              <p><strong>Remaining Amount</strong>&emsp;{{ (item[0].general_leaves_remaining*item[0].salary)|round(0,'floor')|int }}</p>
            </div>        
          </div>
        </div>


        {% if status == 'pending' %}
          <form class="row" data-resource="encashment" method="PUT">

            {% include 'components/loading.html' %}
            <div class="notice"></div>

            <input type="hidden" name="id" value={{item[1].id}}>

            <div class="row">
              <p class="col s6 text-center">
                <input name="approval" type="radio" id="approve-{{item[1].id}}" value="Approved" required />
                <label for="approve-{{item[1].id}}">Approve</label>
              </p>
              <p class="col s6 text-center">
                <input name="approval" type="radio" id="decline-{{item[1].id}}" value="Unapproved" required />
                <label for="decline-{{item[1].id}}">Decline</label>
              </p>
            </div>
            <br>

            <div class="center">
              <button type="submit" class="waves-effect waves-light btn round center">Confirm</button>
            </div> 
          </form>
        {% endif %}

      </div>
    </li>
    {% endfor%}
    {% if not single_view %}
    <li>
      <div class="collapsible-header">
        <a href="/encashment/requests" class="view-all">View All</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>    