<div class="card leaves">

  <p class="card-title">
    {% if view_empsheet %}
    <span>Leave History</span> <span class="name"><i class="material-icons">account_circle</i> {{employee.first_name}}</span>
    {% else %}
    <i class="material-icons">assignment</i> <span>Personal History</span>
    {% endif %}

    {% if single_view and leave_list %}
    <a onclick="updateQueryParam('download', 1)" class="btn slim outline trigger download">
      <i class="material-icons left">keyboard_arrow_down</i>
      <span>Download</span>
    </a>
    {% endif %}
  </p>
  
  <div class="card-content">

    <div class="">
      <ul class="collapsible" data-collapsible="accordion">
        {% if leave_list is not none %}
        {% for item in leave_list %}
        <li class="collection-item">
          <div class="collapsible-header">

            <div class="type {{ item.leave_type|lower }}">
              {% if item.leave_type == "Medical" %}
              <p>M</p>
              {% else %}
              <p>G</p>
              {% endif %}
            </div>

            <div class="duration">
              <p class="contract">{{ item.from_date.strftime('%b %d, %Y')}} - {{ item.to_date.strftime('%b %d, %Y') }}</p>
            </div>

            {% if item.hr_approval=="Approved" and item.manager_approval=="Approved" %}
            <div class="status approved">
              <p>Approved</p>
            </div>
            {% elif item.hr_approval=="Unapproved" and item.manager_approval=="Approved" %}
            <div class="status unapproved">
              <p>HR Unapproved</p>
            </div>  
            {% elif item.hr_approval=="Approved" and item.manager_approval=="Unapproved" %}
            <div class="status unapproved">
              <p>Manager Unapproved</p>
            </div>
            {% elif item.hr_approval=="Unapproved" and item.manager_approval=="Unapproved" %}
            <div class="status unapproved">
              <p>Unapproved</p>
            </div>
            {% elif item.hr_approval== None and item.manager_approval != None %}
            <div class="status pending">
              <p>HR Pending</p>
            </div>
            {% elif item.hr_approval != None and item.manager_approval==None %}
            <div class="status pending">
              <p>Manager Pending</p>
            </div>
            {% elif item.hr_approval==None and item.manager_approval==None%}
            <div class="status pending">
              <p>Pending</p>
            </div>
            {% endif %}
          </div>

          <div class="collapsible-body">
            <div class="col s12 first-row">
              <p><span class="bold">Purpose</span>&emsp; {{item.purpose}}</p>
            </div>

            <div class="row">

              {% if item.manager_remark %}
              <div class="col s12 l6">
                <p class="bold">Manager Remarks</p>
                <p class="message">{{ item.hr_remark }}</p>
              </div>
              {% endif %}

              {% if item.hr_remark %}
              <div class="col s12 l6">
                <p class="bold">HR Remarks</p>
                <p class="message">{{ item.hr_remark }}</p>
              </div>
              {% endif %}

            </div>
          </div>
        </li>
        {% endfor %}
        {% endif %}

        {% if not single_view %}
        <li>
          <div class="collapsible-header">
            <a href="/history" class="view-all">View All</a>
          </div>
        </li>
        {% endif %}

      </ul>
    </div>

    <!-- < div history end> -->
  </div>

</div>

