<div class="col s12 m12 l12">
    <div class="card leaves">
      <p class="card-title">Personal History</p>
      <div class="card-content">

        <div class="request">
          <ul class="collapsible" data-collapsible="accordion">
            {% for item in data.history %}

            <li class="collection-item border-top">
              <div class="collapsible-header">

                <div class="type {{ item.leave_type }}">
                  {% if item.leave_type == "Medical" %}
                  <p>M</p>
                  {% else %}
                  <p>G</p>
                  {% endif %}
                }
              </div>

              <div class="duration">
                <p class="flow-text">{{item.from_date.strftime('%b %d, %Y')}}</p>-
                <p class="flow-text"> {{item.to_date.strftime('%b %d, %Y')}}</p>
              </div>
              <div class="status approved">
                <p>approved</p>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="col s12 first-row">

                <p><span class="bold">Dates</span>&emsp; {{item.from_date.strftime('%b %d, %Y')}} - {{item.to_date.strftime('%b %d, %Y')}}</p>
                <p><span class="bold">Type</span>&emsp; {{item.leave_type}}</p>
                <br>
                <p><span class="bold">Purpose</span>&emsp; {{item.purpose}}</p>
                <br>
              </div>

              <div class="row">

                {% if item.hr_remark %}
                <!-- show manager Remarks -->
                {% if item.manager_remark %}
                <div class="col s12 l6">
                  <p class="bold">HR Remarks</p>
                  <p class="message">{{ item.hr_remark }}</p>
                </div>
                <div class="col s12 l6">
                  <p class="bold">Manager Remarks</p>
                  <p class="message">{{ item.manager_remark }}</p>
                </div>
                {% else %}
                <div class="col s12 l6">
                  <p class="bold">HR Remarks</p>
                  <p class="message">{{ item.hr_remark }}</p>
                </div>
                {% endif %}
                {% else %}
                {% if item.manager_remark %}
                <div class="col s12 l6">
                  <p class="bold">Manager Remarks</p>
                  <p class="message">{{ item.manager_remark }}</p>
                </div>
                {% else %}
                {% endif %}
                <!-- show nothing -->
                {% endif %}
                
              </div>
            </div>
          </li>
          {% endfor %}
          
          <li class="collection-item border-top">
            <div class="collapsible-header">
              <a href="#" class="view-all">View All</a>
            </div>
          </li>

        </ul>
      </div>
      <!-- < div history end> -->
    </div>
  </div>
</div>