  <div class="row">
    <div class="col s12 m6">
      <div class="card fixed center counter">
        <p class="card-title">General Leaves</p>
        <div class="card-content clear">
          <div class="row">
            <div class="col s6">
              <p>Availed</p>
              <h1>{{data.leaves_details.general_leaves_availed}}</h1>
            </div>
            <div class="col s6">
              <p>Remaining</p>
              <h1>{{data.leaves_details.general_leaves_remaining}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card fixed center counter">
        <p class="card-title">Medical Leaves</p>
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Availed</p>
              <h1>{{data.leaves_details.medical_leaves_availed}}</h1>
            </div>
            <div class="col s6">
              <p>Remaining</p>
              <h1>{{data.leaves_details.medical_leaves_remaining}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>