
      <div class="card leaves">
        <p class="card-title">Leaves Requests</p>
        <div class="card-content">
          <div class="request">
            <ul class="collapsible" data-collapsible="accordion">
              {% if data.role == "HR Manager" %}
                {% for item in data.manager_requests %}
                <li>  
                  <div class="collapsible-header">                  
                      <div class="type {{ item[1].leave_type }}">
                        {% if item[1].leave_type == "Medical" %}
                        <p>M</p>
                        {% else %}
                        <p>G</p>
                        {% endif %}
                        
                      </div>
                      
                      <div class="duration">
                        {{ item[1].employee.first_name }} {{ item[1].employee.last_name }} - {{ item[1].employee.designation }}
                      </div>
                        
                        <div class="status pending">
                          <p>pending</p>
                        </div>
                  </div>
                  <div class="collapsible-body">  
                    <form action="#">
                      <div class="col s12 first-row">
                        <p></p>
                        <p><span class="bold">Dates</span>&emsp; {{item[1].from_date.strftime('%b %d, %Y')}}  -  {{item[1].to_date.strftime('%b %d, %Y')}}</p>
                        <p><span class="bold">Type</span>&emsp; {{item[1].leave_type}}</p>
                        <br>
                        <p><span class="bold">Purpose</span>&emsp; {{item[1].purpose}}</p>
                        <br>
                      </div>

                      <div class="row">
                        <div class="col s12">
                          <!-- <p class="bold">HR Remarks</p> -->
                          <div class="input-field col s12">
                            <textarea id="hr-text" class="materialize-textarea"></textarea>
                            <label for="hr-text">Remarks</label>
                          </div>
                        </div>   
                          <!--  -->
                          
                      </div>

                      <div class="row">
                          <div class="#">
                            <p class="col s6 offset-s1  ">
                              <input name="group1" type="radio" id="approval1" />
                              <label for="approval1">Approve</label>
                            </p>

                            <p class="col s5">
                              <input name="group1" type="radio" id="denial1" />
                              <label for="denial1">Decline</label>
                            </p>  
                          </div>
                      </div>
                      <div class="center">
                        <input type="submit" value="Submit" class="waves-effect waves-light btn center">
                      </div>  
                    </form>
                  </div>
                </li>
                {% endfor%}

                {% for item in data.hr_requests %}
                <li>  
                  <div class="collapsible-header">                  
                      <div class="type {{ item[1].leave_type }}">
                        {% if item[1].leave_type == "Medical" %}
                        <p>M</p>
                        {% else %}
                        <p>G</p>
                        {% endif %}
                        
                      </div>
                      
                      <div class="duration">
                        {{item[1].employee.first_name}} {{item[1].employee.last_name}} - {{item[1].employee.designation}}
                      </div>
                        
                        <div class="status pending">
                          <p>pending</p>
                        </div>
                  </div>
                  <div class="collapsible-body">  
                    <form action="#">
                      <div class="col s12 first-row">
                        <p></p>
                        <p><span class="bold">Dates</span>&emsp; {{item[1].from_date.strftime('%b %d, %Y')}}  -  {{item[1].to_date.strftime('%b %d, %Y')}}</p>
                        <p><span class="bold">Type</span>&emsp; {{item[1].leave_type}}</p>
                        <br>
                        <p><span class="bold">Purpose</span>&emsp; {{item[1].purpose}}</p>
                        <br>
                      </div>

                      <div class="row">
                        <div class="col s12">
                          <!-- <p class="bold">HR Remarks</p> -->
                          <div class="input-field col s12">
                            <textarea id="hr-text" class="materialize-textarea"></textarea>
                            <label for="hr-text">Remarks</label>
                          </div>
                        </div>   
                          <!--  -->
                          
                      </div>

                      <div class="row">
                          <div class="#">
                            <p class="col s6 offset-s1  ">
                              <input name="group1" type="radio" id="approval1" />
                              <label for="approval1">Approve</label>
                            </p>

                            <p class="col s5">
                              <input name="group1" type="radio" id="denial1" />
                              <label for="denial1">Decline</label>
                            </p>  
                          </div>
                      </div>
                      <div class="center">
                        <input type="submit" value="Submit" class="waves-effect waves-light btn center">
                      </div>  
                    </form>
                  </div>
                </li>
                {% endfor%}
              {% else %}
                {% for item in data.pending_requests %}
                <li>  
                  <div class="collapsible-header">                  
                      <div class="type {{ item[1].leave_type }}">
                        {% if item[1].leave_type == "Medical" %}
                        <p>M</p>
                        {% else %}
                        <p>G</p>
                        {% endif %}
                        
                      </div>
                      
                      <div class="duration">
                        {{item[1].employee.first_name}} {{item[1].employee.last_name}} - {{item[1].employee.designation}}
                      </div>
                        
                        <div class="status pending">
                          <p>pending</p>
                        </div>
                  </div>
                  <div class="collapsible-body">  
                    <form action="#">
                      <div class="col s12 first-row">
                        <p></p>
                        <p><span class="bold">Dates</span>&emsp; {{item[1].from_date.strftime('%b %d, %Y')}}  -  {{item[1].to_date.strftime('%b %d, %Y')}}</p>
                        <p><span class="bold">Type</span>&emsp; {{item[1].leave_type}}</p>
                        <br>
                        <p><span class="bold">Purpose</span>&emsp; {{item[1].purpose}}</p>
                        <br>
                      </div>

                      <div class="row">
                        <div class="col s12">
                          <!-- <p class="bold">HR Remarks</p> -->
                          <div class="input-field col s12">
                            <textarea id="hr-text" class="materialize-textarea"></textarea>
                            <label for="hr-text">Manager Remarks</label>
                          </div>
                        </div>   
                          <!--  -->
                          
                      </div>

                      <div class="row">
                          <div class="#">
                            <p class="col s6 offset-s1  ">
                              <input name="group1" type="radio" id="approval1" />
                              <label for="approval1">Approve</label>
                            </p>

                            <p class="col s5">
                              <input name="group1" type="radio" id="denial1" />
                              <label for="denial1">Decline</label>
                            </p>  
                          </div>
                      </div>
                      <div class="center">
                        <input type="submit" value="Submit" class="waves-effect waves-light btn center">
                      </div>  
                    </form>
                  </div>
                </li>
                {% endfor %}
              {% endif %}            
            </ul>
          </div>  
        </div>
      </div> 
 