<html>
  <head>
    <title>Login</title>

  </head>
  
  <body>
    <div class="form">
      <form method="POST" action="#" accept-charset="UTF-8" role="form">
          
          <label for="email">Email</label>  
          <input id="email" type="email" placeholder="Email" required>

          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" required>
          
          <label for="check"> Remember Me</label>
          <input id="check" type="checkbox" name="remember" value="1">
          
          <a role="button" href="#">Forgot your password?</a>

          <button type="submit" value="Submit">Sign in</button>
      </form>  
    </div>
  </body>
</html>

