{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
  {% elif field.flags.error %}
  <div>
    {% else %}
    <div>
      {% endif %}
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
    {% endmacro %}

    {% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block body %}


    <main id="login">
      <div class="login">

        <div class="content">

          <img src="{{url_for('static', filename='img/logo-dark.png') }}" alt="">

          <br><br><br>

          {% if form.errors %}
          <div class="">
            {% for field, error in form.errors.items() %}
            {% for e in error %}
            {{ e }}<br>
            {% endfor %}
            {% endfor %}
          </div>
          {% endif %}

          <form method="POST" action="." accept-charset="UTF-8" role="form">
            {{ form.csrf_token }}
            <label for="">Email</label>
            {{ render_field(form.email, placeholder="Your Email Address", autofocus="") }}
            <label for="">Password</label>
            {{ render_field(form.password, placeholder="Password") }}
            <div>
              <label><input type="checkbox" name="remember" value="1"> Remember Me</label>
              <!-- <a role="button" href="">Forgot your password?</a> -->
            </div>

            <button class="btn" type="submit" name="submit">Sign In</button>
          </form>
        </div>

      </div>
    </main>

    {% endblock %}
