@import url('https://fonts.googleapis.com/css?family=Varela+Round:400,500,600|Nunito:300,400,500,600');

// @import "components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import 'materialize';

/** Globals **/
$primary-color: #30336b;
$light-gray: #f8f8f8;

$green: #20bf6b;
$red: #fc5c65;
$yellow: #f1c40f;
$orange: #f39c12;

html {font-family: 'Varela Round'; color: darken($primary-color, 15)}
body {background-color: #e8eaf6;}

.notice {margin: 20px 0; opacity: 0; padding: 2px 20px; border-radius: 20px; box-shadow: 0 0 0 2px $primary-color; color: $primary-color; text-align: center;  font-size: 14px;

  p {margin: 0}

  &.success, &.error, &.visible {opacity: 1;}
  &.success {box-shadow: 0 0 0 2px $green; color: $green; }
  &.error {box-shadow: 0 0 0 2px $red; color: $red; }
  
  &.solid {background-color: currentColor;}
  &.solid > * {color: #fff!important}

  &.compact {display: inline-block; padding: 2px 5px}

}

// .notice > * {margin: 0 20px;}
.notice > a.button > a.label {font-size: 14px}

.btn, .btn span.real { padding: 0 1rem; letter-spacing: 0; font-size: 14px; font-weight: 600; font-family: 'Varela Round'; background-color: $primary-color;

&:hover {background-color: lighten($primary-color, 10)}
&:active, &:focus {background-color: darken($primary-color, 10)}

&.slim {padding: 0 10px; height: 20px; line-height: 20px;}
&.round {border-radius: 20px; height: 30px; line-height: 30px; padding: 0 20px}

&.outline {box-shadow: 0 0 0 2px rgba(0,0,0,0.3); background-color: transparent!important; color: rgba(0,0,0,0.3); font-weight: 600;
  i.left {margin-right: 5px}
}

&.underline {background-color: transparent!important; color: #000; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  &:hover {box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);}
}

&.light {opacity: 0.5;
  &:hover {opacity: 0.6}
}

&.flat {box-shadow: none!important}
}

input, textarea {
  &:not(.browser-default):focus  {border-bottom: 1px solid $primary-color!important; box-shadow: 0 1px 0 0 $primary-color!important}
}
label:not(.browser-default).active {color: $primary-color; font-weight: 600}

/** Custom Globals **/

.wrap {padding: 0 5%;}
.text-center {text-align: center;}
.right {text-align: right}
.clr{ clear: both;}

.upper {text-transform: uppercase;}
.bold {font-weight: 600}
.border-top {border-top:1px solid #DDDDDD;}
.small {font-size: 12px}
.light {color: #999!important}

p.heading {margin-bottom: 50px!important; font-size: 18px;}
p.heading span {vertical-align: middle}
p.heading i {margin-right: 10px; font-size: 18px}

strong {font-weight: 600}

.scrollable {

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {width:3px; background-color:#F5F5F5;}
  &::-webkit-scrollbar-track {box-shadow:inset 0 0 6px rgba(0,0,0,0.3); background-color:#F5F5F5;}
  &::-webkit-scrollbar-thumb {background-color:#000; border:2px solid #555;}
}

.col.center {float: none; margin: 0 auto}

.material-icons {vertical-align: middle}

.lightbox { display: none; 
  position: fixed; top: 0; overflow-y: scroll; height: 100%; width: 100%; z-index: 2000; background-color: rgba(255,255,255,0.9);
  .content {margin: 0 auto; max-width: 1000px; width: 70%; padding: 50px 5%; background-color: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.1)}
}

.collapsible { margin: 0; border: 0; box-shadow: none;

  > li {height: auto; box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05);}

  .view-all {margin: auto; display: inline-block; width: 100%; text-align: center}

  .collapsible-header { padding: 0; display:flex; overflow: hidden; flex-direction: row; justify-content:space-between; align-items: center; height: 50px; border: 0px; position: relative;

    .type { padding: 0px 1px; margin-right: 20px; width:50px; color: #fff; height:inherit; position:absolute;
      p {text-align: center; padding: 16px 0px;}
    }

    i {margin: 0;}

    .medical { background-color: #5FAD56;} 
    .general { background-color: #1B264F;}

    .duration { margin-left:70px;}
    .status { margin: 0px 15px; font-weight: bold; font-size: 14px;
      &.pending {color: $orange}
    }
  }

  &.padded .collapsible-header {padding: 0 25px;}

  .collapsible-body {background-color: #fafafa}
} 


/** Material Overrides **/

.collection {margin: 0}

.collection-item {
  overflow: hidden!important;
  .primary-content{float: left;}
  .secondary-content a{top: 20px;}
  .approved {color: $green;}
  .unapproved {color: $red;}
  .pending {color: $yellow;}
  
  .status {background-color: transparent}
  &.approved .status {background-color: $green}
  &.unapproved .status {background-color: $red}
  &.pending .status {background-color: $yellow}

  &.responded:not(.active) {opacity: 0.6}
  
}

form .loading {display: none; padding: 20px 0; opacity: 0.5;
  img {width: 32px; height: auto}
}

form.loading {
  .loading {display:block;}
}

form.disabled {
  button {opacity: 0}
}


.card { box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1); box-sizing: border-box; border-radius: 5px; overflow: hidden;
  &.tagged {border-top: solid 3px $primary-color;}
  &.fixed { height: 250px;}

  .card-title { padding: 16px 0; position: relative; background-color: darken($light-gray, 1); box-sizing: content-box; margin: 0; font-size: 18px!important; text-align: center; color: $primary-color; font: 400 20px Nunito;
    vertical-align: middle;
    > * {vertical-align: middle}
    span {vertical-align: middle;}

    .btn {position: absolute; right: 20px; top: 50%; transform: translateY(-50%)}
    .name {opacity: 0.3; font-size: 16px; font-weight: 600; margin-left: 10px; padding-left: 10px; box-shadow: -1px 0 0 0 $primary-color}
  }
}

.brand-logo img {height: 80%; width: auto}

.sep {margin: 20px 0; text-align: center; opacity: 0.2}

/** Custom Views / Components **/

header {position: relative;  padding: 0 100px; height: 50px; color: #fff; background-color: darken($primary-color, 10);

  a {color: #fff}

  .logo {float: left; height: 100%; display: flex; align-items: center; font-weight: 600; font-size: 28px; text-transform: uppercase;
    img {max-height: 70%; height: 100%;}
  }
  .tools { float: right; height: 100%; position: relative; display: flex; align-items: center; 
    > * {cursor: pointer; margin: 0 10px; position: relative}
    i {vertical-align: middle; font-size: 30px;}

    a.logout {opacity: 0.3; transition: all 0.5s ease;
      &:hover {opacity: 0.8}
    }
  }

  .account {
    &.active .widget {opacity: 1; z-index: 2; cursor: pointer; top: 100%}
    
    .widget { position: absolute; right: 0; top: -400px; padding-top: 15px; min-width: 200px; 
     opacity: 0; transition: opacity 0.5s ease; cursor: default;

     .content {padding: 15px; background-color: #fff; box-shadow: 0 2px 50px 0 rgba(0,0,0,0.2); border-radius: 10px; color: $primary-color; text-align: left;}

     .name {color: #666; text-align: center; margin-bottom: 10px; display: block}

     ul {margin: 0;
      li {padding: 5px 0}
      li:hover {opacity: 0.9}
    }
    i {font-size: 18px!important;}
    a {color: $primary-color}
  }
}

.btn { background-color: lighten(#6DC6EB, 0); /** color for button**/
  &:hover {background-color: lighten(#26718e, 15)} /** color for hover**/
}
}

main {padding: 80px 8%;  min-height: calc(100vh - 90px)}

main#dashboard {}

/** Managemenet Toolbox **/

.management {position: relative; float: right; top: -40px; margin-right: 10px; box-shadow: 2px 2px 0 0 rgba(255,255,255,0.5); border-radius: 5px 5px 0 5px; padding: 0 0 20px 20px;

  .title {margin-top: 0; border-radius: 20px 5px 0 5px; padding: 4px 20px 2px 20px; position: relative; display: inline-block; float: right; right: -2px;
    color: rgba(0,0,0,0.4); background-color: #fff; font-weight: 600; text-transform: uppercase; text-align: right; font-size: 13px;
  }

  .btn {padding: 0 5px; margin-right: 20px}
  .btn i.left {margin-right: 5px; font-weight: 600;}
}

@media (max-width: 404px){
 .middle{ padding-left: 50%; }
 .download{ margin: auto;}
 .contract{font-size: 11px;}
}

.major{display: flex; flex-wrap: wrap; justify-content: flex-start; position: relative;
  .middle{ flex: 0 1 auto; position: absolute; left: 50%; transform: translateX(-49%); 

  }
  .download { flex: 0 1 auto; margin-left: auto; margin-right: 20px;}
}
#nopad{ margin:0 0;}

main#login { padding: 0; height: 100vh; display: flex; align-items: center; justify-content: center; flex-flow: column; background: linear-gradient(to top, $primary-color ,#810cf5); background-size: cover;

  .logo-name {margin-top: 0; margin-bottom: 50px; font-weight: 600; font-size: 14px; color: #858384}

  .loading {margin: 0; padding: 0}

  .login { min-width: 100px; max-width: 330px; width: 100%; text-align: center; padding: 30px 0; box-sizing: border-box;
    margin:auto; background-color: rgb(255,255,255); align-content: center; border-radius: 2px;

    input {text-align: center}
    
    img.logo {max-width: 150px; width: 100%}
    
    .content{
      form { margin: 0 50px; height: 100%; align-self: flex-start;}
    }
    
  }
}

.card.counter {
  h1 {font-family: Nunito; font-weight: 300}
  .row p {font-size: 15px; text-transform: uppercase}
}

// Leaves Card
.card.leaves {

  .card-content {padding: 0 0;}
}

//history
.clear{ clear: both;}
.request {
}

// Notification

.notification {

  .collapsible-body { background-color: $light-gray; overflow: hidden;
    .first-row { text-align: center;
      p { padding: 20px; display: inline-block; min-width: 120px;}
    }
    
  }
  

  #pay{ width: 200px;}

  .remarks{ 
    width: 47%; text-align: left; margin-right:3%;
    a{margin-bottom: 20px; width: 35%; margin-right: 7%; margin-left: 7%; display: inline-block; min-width: 100px;}
  }
}


.workspace-select {text-align: center; margin-bottom: 40px;}
.workspace-select ul {
  text-align: center; width: auto; border-radius: 30px; background-color: $primary-color; display: inline-block; height: 30px; padding: 3px; font-weight: 600;
  .tab {height: 100%; line-height: normal;}
  .tab a { color: #fff; padding: 0 24px; line-height: 24px; transition: all 0.5s ease;
    &:link, &:hover {color: #fff;}
    &.active {background-color: #fff; border-radius: 30px; color: $primary-color!important;}
  }
  .indicator {display: none}
}


main#encashment {

  .figures { display: flex; align-items: center; justify-content: center}

  .property { display: inline-block; padding: 20px 50px; margin: 0; text-align: center; vertical-align: middle; 
    font-size: 16px; height: 30px;
    
    > * {vertical-align: middle} 
    i {margin-right: 8px;}
    
    span.title {padding-right: 10px}
    
    .count { margin: 0; display: inline-block; padding: 0 0 0 10px; 
      font-size: 22px; box-shadow: -1px 0 0 0 rgba(0,0,0,0.1);
    }
  }

  form.transact { max-width: 320px; width: 100%; margin: 0 auto; padding: 40px 0; text-align: center;

    &[data-state=""] {
      .remaining {opacity: 0}
    }

    &[data-state="errored"] {
      input[name="amount"] {box-shadow: 0 0 0 2px $red!important}
    }

    input[name="amount"] {border: 0; padding: 20px 10px; width: 100%; margin-top: 10px;
      text-align: center; font-family: Nunito; font-weight: 400; font-size: 32px;  letter-spacing: 2px; color: #777; border-radius: 2px;

      &:focus {box-shadow: 0 0 10px rgba(0,0,0,0.05); border: 0; outline: none}
    }

    label {font-size: 16px}

    button {margin-top: 10px}
  }

  .card {
    .collection-item { position: relative; text-align: left;

      p {margin: 0;}
      span {padding: 0 10px}
      .date {float: right;
        i {opacity: 0.5}
      }

      .status {position: absolute; width: 3px; top: 0; right: 0; height: 100%; margin: 0}
    }
  }

  .remaining {padding: 20px 0; opacity: 0.5; transition: all 0.5s ease;
    i {font-size: 20px}
  }

}

.data {display: none}

#help {  

  .container { display: flex; align-items: top; margin: 50px 0 200px 0;
    > div {float: left}
    .menu {flex: 0 0 300px; margin-right: 40px; font-size: 15px; box-shadow: 2px 0 0 0 #efefef; 
      .tab { 
        a {display: inline-block; color: #aaa; padding: 10px 0; width: 100%; cursor: pointer;}
        .active { color: $primary-color;  box-shadow: 2px 0 0 0 $primary-color;  font-weight: 600;}
      }
      .indicator {display: none}
    }
    .details { line-height: 26px;
      p.title {font-size: 24px; margin-bottom: 40px}
    }
  }

  .label { display: inline-block; margin: 0 10px; padding: 5px 10px; vertical-align: middle; font-size: 14px;
    &:before {content: ''; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; width: 10px; height: 10px; border-radius: 50%; background-color: #777}
    &.red {&:before {background-color: $red}}
    &.yellow {&:before {background-color: $yellow}}
    &.green {&:before {background-color: $primary-color}}
  }

  .selector {width: 250px; height: 250px; margin: 0 20px; display: flex; align-items: center; justify-content: center; flex-flow: column;
    box-shadow: 0 0 0 2px #efefef; border-radius: 10px; cursor: pointer;

    img {width: 60px; height: auto}
  }

}

footer {font-size: 12px; padding: 10px 0; text-align: center; box-shadow: 0 -1px 0 0 rgba(0,0,0,0.05);
  .powered { opacity: 0.5; transition: all 1s ease;
    &:hover {opacity: 0.7}
    a {font-weight: 600}
  }
  
}
