@import url('https://fonts.googleapis.com/css?family=Varela+Round:400,500,600|Montserrat:300,400,500,600');

// @import "components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import 'materialize';

/** Globals **/
$primary-color: #30336b;
$light-gray: #f8f8f8;

$green: #20bf6b;
$red: #fc5c65;

html {font-family: 'Varela Round'; color: darken($primary-color, 25)}

.notice {margin: 20px 0; opacity: 0; padding: 5px 20px; border-radius: 20px; box-shadow: 0 0 0 2px $light-gray; color: #fff; text-align: center;
  p {margin: 0}
  &.success {box-shadow: 0 0 0 2px $green; color: $green; opacity: 1}
  &.failure {box-shadow: 0 0 0 2px $red; color: $green; opacity: 1}
}
.notice > * {margin: 0 20px; font-size: 11px}
.notice > a.button > a.label {font-size: 14px}

.btn {letter-spacing: 0; font-size: 14px; font-weight: 600}
.btn.slim {padding: 0 10px; height: 20px; line-height: 20px;}
.btn.round {border-radius: 20px; height: 30px; line-height: 30px; padding: 0 20px}
.btn.outline {box-shadow: 0 0 0 2px rgba(0,0,0,0.2); background-color: transparent!important; color: rgba(0,0,0,0.2)}

/** Custom Globals **/

.wrap {padding: 0 5%;}
.center {text-align: center;}
.right {text-align: right}
.clr{ clear: both;}
.upper {text-transform: uppercase;}
.bold {font-weight: 600}
.border-top{border-top:1px solid #DDDDDD;}

.scrollable {

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {width:3px; background-color:#F5F5F5;}
  &::-webkit-scrollbar-track {box-shadow:inset 0 0 6px rgba(0,0,0,0.3); background-color:#F5F5F5;}
  &::-webkit-scrollbar-thumb {background-color:#000; border:2px solid #555;}
}

.material-icons {vertical-align: middle}

.lightbox { display: none; 
  position: fixed; top: 0; overflow-y: scroll; height: 100%; width: 100%; z-index: 2000; background-color: rgba(255,255,255,0.9);
  .content {margin: 0 auto; max-width: 1000px; width: 70%; padding: 50px 5%; background-color: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.1)}
}


/** Material Overrides **/

.collection-item {
  overflow: auto;
  .primary-content{float: left;}
  .secondary-content a{top: 20px;}
  .approved{color: #6DC6EB;}
  .denied{color: #D56468;}
  .pending{color: #22B573;}
  .Medical{ background-color: #22B573;}
  .General{ background-color:#0071BC;}
}

.card { box-shadow: 0 2px 50px 0 rgba(0,0,0,0.2); box-sizing: border-box; border-radius: 5px; overflow: hidden;
  &.tagged {border-top: solid 3px $primary-color;}
  &.fixed { height: 250px;}

  .card-title { padding: 15px 0; background-color: darken($light-gray, 3); box-sizing: content-box; margin: 0; font-size: 18px; text-align: center; color: $primary-color; font: 400 20px Montserrat; /**box-shadow: 0 1px 5px rgba(0,0,0,0.1)**/}
}

.brand-logo img {height: 80%; width: auto}

/** Custom Views / Components **/

header {position: relative;  padding: 0 30px; height: 50px; color: #fff; background-color: darken($primary-color, 10);

  a {color: #fff}

  .logo {float: left; height: 100%; display: flex; align-items: center; font-weight: 600; font-size: 28px; text-transform: uppercase;
    img {max-height: 70%; height: 100%;}
  }
  .tools { float: right; height: 100%; position: relative; display: flex; align-items: center; 
    > * {cursor: pointer; margin: 0 10px;}
    a i {vertical-align: middle; font-size: 30px;}
  
    a.account:hover ~ .account-widget {opacity: 1}

    a.logout {opacity: 0.3; transition: all 0.5s ease;
      &:hover {opacity: 0.8}
    }
  }

  .btn { background-color: lighten(#6DC6EB, 0); /** color for button**/
    &:hover {background-color: lighten(#26718e, 15)} /** color for hover**/
  }
}

.account-widget { position: absolute; padding: 15px; right: 0; top: 120%; z-index: 2;
  background-color: #fff; box-shadow: 0 2px 50px 0 rgba(0,0,0,0.2); border-radius: 10px; color: $primary-color; text-align: left; opacity: 0; transition: all 0.5s ease;
  
  &:hover, &.active {opacity: 1}

  ul {margin: 0;
    li {padding: 5px 0}
    li:hover {opacity: 0.9}
  }
  i {font-size: 18px!important;}
  a {color: $primary-color}
}

main {padding: 80px 8%;}

main#dashboard {background-color: #e8eaf6}

/** Managemenet Toolbox **/

.management {position: relative; float: right; top: -50px; padding: 0 20px; margin-right: 10px; box-shadow: 2px 0 0 0 rgba(0,0,0,0.1);

  .title {margin-top: 0; color: rgba(0,0,0,0.4); font-weight: 600; text-transform: uppercase; text-align: right; font-size: 13px}
  .btn {padding: 0 5px}
  .btn i.left {margin-right: 5px; font-weight: 600;}
}

@media (max-width: 404px){
 .middle{ padding-left: 50%; }
 .download{ margin: auto;}
}

.major{display: flex; flex-direcrion: row; flex-wrap: wrap; align-item: center; justify-content: space-between;
  .middle{ align-self: flex-start; padding-left: 20px;

  }
  .download { padding: 0 10px; margin-right: 10px; flex-shrink: 2; flex-basis: auto; align-self: flex-end;}
}
#nopad{ margin:0 0;}

main#login { padding: 0; height: 100vh; background-image: url(../img/background.jpg); background-size: cover;

  .login { width: 40%; height: 100%; max-width: 500px; text-align: center; padding: 0; box-sizing: border-box; 

    display: flex; align-items: center; justify-content: center; flex-flow: column;
    background-color: rgba(255,255,255,0.9);
  }
}

.card.counter {
  h1 {font-family: Montserrat; font-weight: 300}
  .row p {font-size: 18px}
}

// Leaves Card
.card.leaves {

  .card-content {padding: 0 0;}
}

.collapsible-body {background-color: #fafafa}

//history
.clear{ clear: both;}
.request{
  ul{ margin: 0 0;
    li{ height: auto;}
  }
  
  .collapsible{
    .view-all{ margin: auto;}
    .collapsible-header { padding: 0px 0px; display:flex; overflow: hidden; flex-direction: row; justify-content:space-between; align-items: center; height: 50px; border: 0px;
      .type{
        padding: 0px 1px; margin-right: 20px; width:50px; color: #fff; height:inherit; position:absolute;

        p{text-align: center; padding: 16px 0px;}
      }

      .duration{
        margin-left:70px;
      }

      .status{
        margin: 0px 15px; font-weight: bold;
      }

      .collapsible-body {

        .check{display: inline;}
      }
    } 
  } 
}

// Notification

.notification {



  .collapsible-body { background-color: $light-gray; overflow: hidden;
    .first-row { text-align: center;
      p { padding: 20px; display: inline-block; min-width: 120px;}
    }
    
  }
  

  #pay{ width: 200px;}

  .remarks{ 
    width: 47%; text-align: left; margin-right:3%;
    a{margin-bottom: 20px; width: 35%; margin-right: 7%; margin-left: 7%; display: inline-block; min-width: 100px;}
  }
}


.workspace-select {text-align: center; margin-bottom: 40px;}
.workspace-select ul {
  text-align: center; width: auto; border-radius: 30px; background-color: $primary-color; display: inline-block; height: 30px; padding: 3px; font-weight: 600;
  .tab {height: 100%; line-height: normal;}
  .tab a { color: #fff; padding: 0 24px; line-height: 24px; transition: all 0.5s ease;
    &:link, &:hover {color: #fff;}
    &.active {background-color: #fff; border-radius: 30px; color: $primary-color!important;}
  }
  .indicator {display: none}
}
