@import url('https://fonts.googleapis.com/css?family=Varela+Round:400,500,600');

// @import "components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import 'materialize';

/** Globals **/
$primary-color: #303F9F;
$light-gray: #f8f8f8;
html {font-family: 'Varela Round'; color: darken($primary-color, 25)}


/** Custom Globals **/

.wrap {padding: 0 5%;}
.center {text-align: center;}
.clr{ clear: both;}
.upper {text-transform: uppercase;}
.bold {font-weight: 600}

.scrollable {

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {width:3px; background-color:#F5F5F5;}
  &::-webkit-scrollbar-track {box-shadow:inset 0 0 6px rgba(0,0,0,0.3); background-color:#F5F5F5;}
  &::-webkit-scrollbar-thumb {background-color:#000; border:2px solid #555;}
}

.lightbox { display: none; 
  position: fixed; top: 0; overflow-y: scroll; height: 100%; width: 100%; z-index: 2000; background-color: rgba(255,255,255,0.9);
  .content {margin: 0 auto; max-width: 1000px; width: 70%; padding: 50px 5%; background-color: #fff; box-shadow: 0 0 20px rgba(0,0,0,0.1)}
}


/** Material Overrides **/

.collection-item {
  overflow: auto;
  .primary-content{float: left;}
  .secondary-content a{top: 20px;}
}

.card { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14); box-sizing: border-box; border-radius: 5px; overflow: hidden;
  &.tagged {border-top: solid 3px #3f51b5;}
  &.fixed { height: 250px;}

  .card-title { padding: 30px 0; box-sizing: content-box; margin: 0; font-size: 16px; text-align: center; text-transform: uppercase; color: $primary-color; font-weight: 600; box-shadow: 0 1px 5px rgba(0,0,0,0.1)}
}

.brand-logo img {height: 80%; width: auto}



/** Custom Views / Components **/

header {position: relative;  padding: 0 30px; height: 50px; color: #fff; background-color: darken($primary-color, 10);

  a {color: #fff}

  .logo {float: left; height: 100%; display: flex; align-items: center; font-weight: 600; font-size: 28px; text-transform: uppercase;
    img {max-height: 70%; height: 100%;}
  }
  .tools { float: right; height: 100%; display: flex; align-items: center; 
    > * {cursor: pointer;}
    a i {vertical-align: middle; font-size: 30px;}
  }

  #account-nav {position: absolute;}

  .btn { background-color: lighten($primary-color, 25);
    &:hover {background-color: lighten($primary-color, 20)}
  }
}

main {padding: 80px 8%;}

main#dashboard {background-color: #e8eaf6}

main#login { padding: 0; height: 100vh; background-image: url(../img/background.jpg); background-size: cover;

  .login { width: 40%; height: 100%; max-width: 500px; text-align: center; padding: 0; box-sizing: border-box; 

    display: flex; align-items: center; justify-content: center; flex-flow: column;
    background-color: rgba(255,255,255,0.9);
  }
}


// Leaves Card

.card.leaves {

  .card-content {padding-left: 0; padding-right: 0}

  .items {padding: 0 20px; height: 330px;}
  .item { position: relative; margin: 10px 0; padding: 20px; background-color: $light-gray; display: flex; align-items: center;

    .duration {padding: 10px 3px; margin-right: 20px; border-radius: 50px; background: #009688; color: #fff; text-align: center; 
      .date {font-size: 18px; line-height: 20px; font-weight: 600;}
      .month {font-size: 14px;}
    }
    .details {
      word-break: break-word;
      .type {font-size: 18px;}
    }
  }

}

// Notification

.notification {

  .collapsible-header {
    p {margin: 0; padding: 0}
    .name {font-size: 18px;}
  }
  
  .collapsible-body { background-color: $light-gray; overflow: hidden;
    .first-row { text-align: center;
      p { padding: 20px; display: inline-block; min-width: 120px;}
    }
    
  }
  

  #pay{ width: 200px;}

  .remarks{ 
    width: 47%; text-align: left; margin-right:3%;
    a{margin-bottom: 20px; width: 35%; margin-right: 7%; margin-left: 7%; display: inline-block; min-width: 100px;}
  }
}


.workspace-select {text-align: center; margin-bottom: 40px;}
.workspace-select ul {
  text-align: center; width: auto; border-radius: 30px; background-color: $primary-color; display: inline-block; height: 30px; padding: 3px; font-weight: 600;
  .tab {height: 100%; line-height: normal;}
  .tab a { color: #fff; padding: 0 24px; line-height: 24px; transition: all 0.5s ease;
    &:link, &:hover {color: #fff;}
    &.active {background-color: #fff; border-radius: 30px; color: $primary-color!important;}
  }
  .indicator {display: none}
}