@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
html {font-family: 'Montserrat';}

/** Globals **/
$primary-color: #1a237e !important;


/** Components / Overrides **/

.collection-item{
  overflow: auto;
  .primary-content{float: left;}
  .secondary-content a{top: 20px;}
  
}

.wrap {padding: 0 5%;}
.center {text-align: center;}
.clr{ clear: both;}

.card { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14); box-sizing: border-box;
  &.tagged {border-left: solid 5px #FFE172;}
  .card-content .card-title {font-size: 16px; text-align: center; margin-bottom: 20px;}
}

.brand-logo img {height: 80%; width: auto}

/** Custom **/

header {position: relative;  padding: 0 30px; height: 65px; color: #fff; background-color: $primary-color;

  a {color: #fff}

  .logo {float: left; height: 100%; display: flex; align-items: center;
    img {max-height: 70%; height: 100%;}
  }
  .tools { float: right; height: 100%; display: flex; align-items: center; 
    > * {cursor: pointer; padding: 0 20px}
    a i {vertical-align: middle}
  }
}

.card.leaves::-webkit-scrollbar {
    width: 1em;
}

.font-small{font-size: 12px;}

main {padding: 50px 0;
  &#dashboard {background-color: #f9f9f9}
}

.card.fixed { display: flex; flex-flow: column; height: 200px; justify-content: center }
  
.card.leaves {
  height: 200px;
  .entry {padding: 20px 0; box-shadow: 0 -1px 0 #efefef; display: flex; align-items: center; justify-content: space-between;
    .duration {padding: 10px 2px; margin-right: 20px; border-radius: 50px; background: #2CA455; color: #fff; text-align: center; 
      .date {font-size: 22px; line-height: 20px; font-weight: 500;}
      .month {font-size: 12px;}
    }
    word-break: keep-all;
  }

  &::-webkit-scrollbar{
    width: 3px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }

}

.pad-down{
  padding-bottom: 15px;
}

.scroll{
  overflow-y: auto;
}

.notification{
  .card.request{
    margin: 0 1%;
    width: 23%;
    float: left;
  }

  .card-content{
    .name{ font-size:20px;}
  }

  .card.tagged{
    border-color: $primary-color;
  }
}