
body {
	
	.text-center{
		text-align: center;
	}
	.card{
		.card-content{
			border-left: solid 5px #FFE172;
		}
	}

	.little{
			height: 200px;
			
	}
}

$primary-color: #2c3e50;

.wrap {padding: 0 5%;}

header {position: relative; padding: 0 30px; height: 50px; color: #fff; background-color: $primary-color;
  .logo {float: left;}
  .tools { float: right; height: 100%; display: flex; align-items: center; 
    > * {cursor: pointer;}
  }
}

 


