<div class="newemployee">

  <form data-resource="employee" method="POST">

    {% include 'components/loading.html' %}
    <div class="notice">.</div>

    <div class="row">
      <div class="input-field col m6 s12">
        <label for="">First Name</label>
        <input type="text" name="first_name" required>
      </div>
      <div class="input-field col m6 s12">
        <label for="">Last Name</label>
        <input type="text" name="last_name" required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col m6 s12">
        <select type="text" name="religion">
          {% for religion in religions %}
          <option value="{{religion}}">{{religion}}</option>
          {% endfor %}
        </select>
        <label for="">Religion</label>
      </div>
      <div class="input-field col m6 s12">
        <label for="">Email Address</label>
        <input type="email" name="email" required>
      </div>
    </div> 

    <div class="row">
      <div class="input-field col m6 s12">
        <label for="">Designation</label>
        <input type="text" name="designation" required>
      </div>
      <div class="input-field col m6 s12">
        <select type="text" name="department" required>
          {% for department in departments %}
          <option value="{{department.id}}">{{department.name}}</option>
          {% endfor %}
        </select>
        <label for="department">Department</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <label for="">Date of Joining</label>
      <input type="text" class="datepicker" name="date_of_joining" required>
    </div>
    <input type="hidden" name="reporting_manager_id" placeholder="" />
    <div class="input-field col m6 s12">
      <input type="text" list="names" data-proxy="reporting_manager_id" required>
      <datalist  id="names"></datalist>
      <label for="">Reporting Manager</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col m6 s12">
      <label for="">Leave Salary</label>
      <input type="text" name="salary" required>
    </div>
  </div>

  <center>
    <button type="submit" class="btn center">
      <i class="material-icons">add</i> ADD
    </button>
  </center>
</form>
</div>