<div class="newleave">

  <form data-resource="leave" method="POST">

    <div class="notice">.</div>

    <div class="row">
      <div class="input-field col m6 s12">
        <label for="">Start Date</label>
        <input type="text" class="datepicker" name="from_date">
      </div>

      <div class="input-field col m6 s12">
        <label for="">End Date</label>
        <input type="text" class="datepicker" name="to_date">
      </div>
    </div>

    <div class="row">

      <div class="input-field col m6 s12">

        <select name="leave_type">
          <option value="Medical">Medical</option>
          <option value="General">General</option>
        </select>
        <label for="">Leave Type</label>
      </div>

      <div class="input-field col m6 s12">
        <label for="">Purpose</label>
        <input type="text" name="purpose">
      </div>
    </div>
    
    <center>
      <button type="submit" class="btn center"><i class="material-icons">send</i> Apply</button>
    </center>
  </form>
</div>