{% extends 'base.html' %}

{% block title %}Account Settings{% endblock %}

{% block body %}

<main id="account">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="notice solid {{category}}"><span>{{message}}</span></div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  <div class="row">
    <div class="col l6 m6 s6 center">
      <form method="POST" action="#" data-state="">

        <p class="title text-center"><i class="material-icons">lock</i><span>Change Password</span></p>

        <div class="input-field">
          <label for="current_password">Current Password</label>
          <input type="text" name="current_password" required>
        </div>
        <div class="input-field">
          <label for="new_password">New Password</label>
          <input type="text" name="new_password" required>
        </div>

      <button type="submit" name="submit_password" class="btn center slim round flat"><i class="material-icons">send</i> UPDATE</button>
    
      </form>
      <br><br>
      <form method="POST" action="#" data-state="">

        <p class="title text-center"><i class="material-icons">email</i><span>Change Email Address</span></p>
        <div class="input-field">
          <label for="email"></label>
          <input type="text" name="email" value="{{current_user.email}}">
        </div>

        <button type="submit" name="submit_email" class="btn center slim round flat"><i class="material-icons">send</i> UPDATE</button>

      </form>
    </div>
  </div>

</div>
</main>

{% endblock %}