{% extends 'base.html' %}

{% if request.args.get('id') is none %}
{% set view_empsheet = False %}
{% else %}

{% set view_empsheet = True %}
{% endif %}

{% if current_user.role == 'General Manager' or current_user.role == 'HR Manager' %}
{% set is_management = True %}
{% endif %}

{% block title %}All Leaves{% endblock %}

{% block body %}

<main>
	{% if is_management and view_empsheet %}
	<div class="row center-align">
		<div class="col s12 m6 l3 center">
			<label for="names">Search Employee</label>	
			<input type="text" name="Reporting Manager" list="names">
			<datalist id="names"></datalist>
		</div>
	</div>
	{% endif %}
	
	{% if data.history %}
	<div class="row">
		{% with single_view=True, leave_list=data.history, employee=data.employee %}
		{% include 'templates/history_card.html' %}
		{% endwith %}
	</div>
	{% endif %}
</main>

{% endblock %}