{% extends "base.html" %}

{% block body %}

<main>
	<!-- <div class="row">
		<div class="col s6 m8 l10 offset-s6 offset-m2 offset-l1 right-align">
			<div class="management">
				<p class="title right-align">Move to Excel</p>
			    <a href="#addemployee" class="btn slim outline trigger">
			      <i class="material-icons left">file_download</i>
			      <span>Download</span>
			    </a>
			</div>
		</div>
	</div>	 -->
	

	<div class="row">
		<div class="col s12 m8 l10 offset-l1 offset-m2">
	      <div class="card leaves ">
	      	
	      	<div class="major card-title">
			
			<div class="middle">
				<p id="nopad">Leaves History</p>
			</div>
	        	<a href="#download csv" class="btn slim outline trigger download">
		        	<i class="material-icons left">file_download</i>
		        	<span>Download</span>
	        	</a>	
	      		
	      	</div>

	        <div class="card-content">

	          <div class="request">
	            <ul class="collapsible" data-collapsible="accordion">
	              
				{% for item in data.history %}
	              <li class="collection-item border-top">
	                <div class="collapsible-header">
	                  <div class="type {{ item.leave_type }}">
	                    {% if item.leave_type == "Medical" %}
	                    <p>M</p>
	                    {% else %}
	                    <p>G</p>
	                    {% endif %}
	                    }
	                  </div>
		            
		            <div class="duration">
	                    <p class="contract">{{item.from_date.strftime('%b %d, %Y')}}-{{item.to_date.strftime('%b %d, %Y')}}</p>
	                  </div>

	                  {% if item.hr_approval=="Approved" and item.manager_approval=="Approved" %}
	                  <div class="status approved">
	                    <p>approved</p>
	                  </div>
	                  {% elif item.hr_approval=="Unapproved" and item.manager_approval=="Approved" %}
	                  <div class="status denied">
	                    <p>HR napproved</p>
	                  </div>  
	                  {% elif item.hr_approval=="Approved" and item.manager_approval=="Unapproved" %}
	                  <div class="status denied">
	                    <p>Manager Unapproved</p>
	                  </div>
	                  {% elif item.hr_approval=="Unapproved" and item.manager_approval=="Unapproved" %}
	                  <div class="status denied">
	                    <p>Unapproved</p>
	                  </div>
	                  {% elif item.hr_approval== None and item.manager_approval != None %}
	                  <div class="status pending">
	                    <p>HR Pending</p>
	                  </div>
	                  {% elif item.hr_approval != None and item.manager_approval==None %}
	                  <div class="status pending">
	                    <p>Manager Pending</p>
	                  </div>
	                  {% elif item.hr_approval==None and item.manager_approval==None%}
	                  <div class="status pending">
	                    <p>Pending</p>
	                  </div>
	                  {% endif %}

	                </div>

	                  <div class="status approved">
	                    <p>approved</p>
	                  </div>
	                </div>
	                <div class="collapsible-body">
	                  <div class="col s12 first-row">
	                   <p><span class="bold">Dates</span>&emsp; {{item.from_date.strftime('%b %d, %Y')}} - {{item.to_date.strftime('%b %d, %Y')}}</p>
	                    <p><span class="bold">Type</span>&emsp; {{item.leave_type}}</p>
	                    <br>
	                    <p><span class="bold">Purpose</span>&emsp; {{item.purpose}}</p>
	                    <br>
	                  </div>

	                  <div class="row">
	                    {% if item.hr_remark %}
                    <!-- show manager Remarks -->
                      {% if item.manager_remark %}
                        <div class="col s12 l6">
                          <p class="bold">HR Remarks</p>
                          <p class="message">{{ item.hr_remark }}</p>
                        </div>
                        <div class="col s12 l6">
                          <p class="bold">Manager Remarks</p>
                          <p class="message">{{ item.manager_remark }}</p>
                        </div>
                      {% else %}
                        <div class="col s12 l6">
                          <p class="bold">HR Remarks</p>
                          <p class="message">{{ item.hr_remark }}</p>
                        </div>
                      {% endif %}
                    {% else %}
                      {% if item.manager_remark %}
                        <div class="col s12 l6">
                          <p class="bold">Manager Remarks</p>
                          <p class="message">{{ item.manager_remark }}</p>
                        </div>
                      {% else %}
                      {% endif %}
                    <!-- show nothing -->
                    {% endif %}
	                  </div>
	                </div>
	              </li>
				{% endfor %}

	            </ul>
	          </div>
	          <!-- < div history end> -->
	        </div>
	      </div>
	    </div>
	</div>		
</main>

{% endblock %}