<!DOCTYPE html>
<html lang="en">
<head>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1" charset="UTF-8">
  <title>HOH Leaves - {% block title %}{% endblock %}</title>
  <link href="{{url_for('static', filename='vendor-css/materialize.min.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.scss.css') }}" type="text/css">
</head>
<body>

  {% if current_user.is_authenticated %}
  <header>
    <a href="/dashboard" class="logo">
      <!-- <img src="{{url_for('static', filename='img/logo.png') }}" alt=""> -->
      <p>HoH Leaves</p>
    </a>
    <div class="tools right">
      <a href="#addleave" class="waves-effect waves-light btn round trigger">Apply for Leave</a>
      <span class="account">
        <i class="material-icons">account_circle</i>
        <div class="widget">
          <div class="content">
            <span class="name">{{current_user.employee.first_name + ' ' + current_user.employee.last_name}}</span>
            <ul>
              <li><a href="/encashment"><i class="material-icons">account_balance_wallet</i> Encashment</a></li>
              <li><a href="/account"><i class="material-icons">settings</i> Account Settings</a></li>
              <li><a href="/logout"><i class="material-icons">exit_to_app</i> Logout</a></li>
            </ul>
          </div>
        </div>
      </span>
    </div>
  </header>
  {% endif %}

  {% block body %}
  {% endblock %}
  
  <div id="addleave" class="lightbox">
  <div class="content">
    <h5 class="center upper">Apply for Leave</h5>
    <br>
    <div class="divider"></div>
    <br>
    {% include 'forms/leave.html' %}
  </div>
</div>

  <footer><span class="powered">Powered by <a href="http://www.quanrio.com" target="_blank">Quanrio</a></span></footer>

  <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{url_for('static', filename='js/actions.js') }}"></script>
  <script src="{{url_for('static', filename='js/main.js') }}"></script>
</body>
</html>