{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

{% if data.role == "Director" %}

<main id="dashboard">
  <div class="row">
    <div class="col l8 center">
      {% with list_items=data.leave_requests %}
      {% include 'components/request-card.html' %}
      {% endwith %}
    </div>
  </div>
  
  <div class="row">
    <div class="col l8 center">
      {% with list_items=data.encashment_requests %}
      {% include 'components/encashment-request-card.html' %}
      {% endwith %}
    </div>
  </div>
</main>

{% else %}

<main id="dashboard">

  {% if data.role != "Employee" %}
  <div class="management">

    <p class="title">Management</p>
    <div class="clr"></div>
    
    <a href="/history?id=" class="btn slim underline light">
      <i class="material-icons left">details</i>
      <span>Balance Sheet</span>
    </a>

    {% if data.role == "HR Manager" %}
    
    <a href="#addemployee" class="btn slim underline light trigger">
      <i class="material-icons left">add</i>
      <span>New Employee</span>
    </a>

    <a href="/employee/edit" class="btn slim underline light">
      <i class="material-icons left">people</i>
      <span>Edit Employees</span>
    </a>

    <a href="/import" class="btn slim underline light">
      <i class="material-icons left">arrow_drop_up</i>
      <span>Bulk Import</span>
    </a>

    <a href="/settings" class="btn slim underline light">
      <i class="material-icons left">settings_applications</i>
      <span>System Settings</span>
    </a>
    {% endif %}

  </div>
  {% endif %}

  <div class="clr"></div>
  
  {% if data.encashment_requests %}
  <div class="text-center">
    <a href="/encashment/requests" class="notice visible solid">
      <span>You have <strong>{{data.encashment_requests}}</strong> pending encashment request(s).</span><i class="material-icons">chevron_right</i></a>
    </a>
    <br><br>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s12 m6">
      <div class="card fixed center counter">
        <p class="card-title">General Leaves</p>
        <div class="card-content clear">
          <div class="row">
            <div class="col s6">
              <p>Availed</p>
              <h1>{{data.leaves_details.general_leaves_availed|round(0,'floor')|int}}</h1>
            </div>
            <div class="col s6">
              <p>Remaining</p>
              <h1 data-leaves_remaining="{{data.leaves_details.general_leaves_remaining|round(0,'floor')|int}}">{{data.leaves_details.general_leaves_remaining|round(0,'floor')|int}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card fixed center counter">
        <p class="card-title">Medical Leaves</p>
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Availed</p>
              <h1>{{data.leaves_details.medical_leaves_availed|round(0,'floor')|int}}</h1>
            </div>
            <div class="col s6">
              <p>Remaining</p>
              <h1>{{data.leaves_details.medical_leaves_remaining|round(0,'floor')|int}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if data.role == "HR Manager" or data.manager %}
  
  <div class="row">

    <div class="col s12 m12 l6">
      <!-- Request tab -->
      {% with list_items=data.requests.pending %}
      {% include 'components/request-card.html' %}
      {% endwith %}
    </div>

    <div class="col s12 m12 l6">
      <!-- History tab -->
      {% with leave_list=data.history %}
      {% include 'components/history-card.html' %}
      {% endwith %}
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col s12 m12 l12">
      {% with leave_list=data.history %}  
      {% include 'components/history-card.html' %} 
      {% endwith %}     
    </div>
  </div>
  
  {% endif %}

</main>

<div id="addemployee" class="lightbox">
  <div class="content">
    <h5 class="center upper">Add new Employee</h5>
    <br>
    <div class="divider"></div>
    <br>
    {% include 'forms/employee.html' %}
  </div>
</div>

{% endif %}

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center">Release Notice</h4>
    <p class="center">This is an early UI test release. Most features are partly functional and still under development.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
  </div>
</div>

{% endblock %}