{% extends 'base.html' %}

{% block title %}Encashment of Leaves{% endblock %}

{% block body %}

<main id="encashment">
  <div class="figures row">
    <div class="data" data-id="salary" data-val={{data.salary}}></div>
    <div class="property" data-id="leaves_available" data-val={{data.leaves_available}}>
      <i class="material-icons">assignment</i><span class="title">Leaves Balance</span><p class="count"><span data-val>{{data.leaves_available}}</span></p>
    </div>
    <div class="property" data-val={{data.leaves_available}} data-salary={{data.salary}}>
      <i class="material-icons">account_balance_wallet</i><span class="title">Balance Amount</span><p class="count"><span data-val>{{data.leaves_available}}</span> PKR</p>
    </div>
  </div>
  
  <form action="#" data-state="">
    <label for="">Enter Encashment Amount</label>
    <input class="browser-default" type="text" name="amount" pattern="[0-9]">
    <button type="submit" class="btn center slim round flat"><i class="material-icons">send</i> ENCASH</button>
  </form>

  <div class="sep">
    <i class="material-icons">more_vert</i>
  </div>

  <div class="card encashment-personal">
    <div class="card-title">My Encashments</div>
  </div>

</div>
</main>

{% endblock %}