{% extends 'base.html' %}

{% block title %}Encashment of Leaves{% endblock %}

{% block body %}

<main id="encashment">

  <div class="row">
    <div class="col s12 l7 center">
    <div class="card encashment-requests text-center">
        <p class="card-title"><i class="material-icons">event</i> <span>Encashment Requests</span></p>
        <ul class="collapsible padded" data-collapsible="accordion">
          
          {% for item in data.requests.pending + data.requests.responded %}
          {% if item.manager_approval == item.gm_approval == item.hr_approval == 'Approved' %}
          {% set status = 'approved' %}
          {% else %}
          {% set status = 'pending' %}
          {% endif %}

          <li class="collection-item {{status}}">
            <div class="collapsible-header">
              <div class="name">
                {{ item[0].first_name }} {{ item[0].last_name }}
              </div>
              <p class="date"><i class="material-icons">date_range</i> <span>{{item[1].time_stamp.strftime('%b %d, %Y')}}</span></p>
              <div class="status"></div>
            </div>

            <div class="collapsible-body">  

              <div class="row">
                <p class="center light">{{item[0].designation + ', ' + item[0].department}}</p>
              </div>

              <div class="row">
                <form data-resource="encashment" method="PUT">
                  
                  {% include 'components/loading.html' %}
                  <div class="notice"></div>

                  <input type="hidden" name="id" value={{item[1].id}}>

                  <div class="row">
                    <p class="col s6 text-center">
                      <input name="approval" type="radio" id="approve-{{item[1].id}}" value="Approved" />
                      <label for="approve-{{item[1].id}}">Approve</label>
                    </p>
                    <p class="col s6 text-center">
                      <input name="approval" type="radio" id="decline-{{item[1].id}}" value="Unapproved"/>
                      <label for="decline-{{item[1].id}}">Decline</label>
                    </p>
                  </div>

                  <p class="small center"><strong>Note:</strong> This action is irreversible</p>
                  <br>

                  <div class="center">
                    <button type="submit" class="waves-effect waves-light btn round center">Confirm</button>
                  </div> 
                </form> 
              </div>

            </div>
          </li>
          {% endfor%}
        </ul>
      </div>     
    </div>
  </div>
  
</main>

{% endblock %}