{% extends 'base.html' %}

{% block title %}Bulk User Import{% endblock %}

{% block body %}

<main>

  <form action="#" method="POST" enctype="multipart/form-data">

    {% include 'components/loading.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="notice solid {{category}}"><span>{{message}}</span></div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">

            <p class="heading center-align">
              <i class="material-icons medium">contacts</i>
              <span>Employees</span>
            </p>

            <div class="file-field input-field">
              <div class="btn flat round">
                <span>Employees CSV</span>
                <input type="file" name="employees" required {% if not config["FLASK_ENV"] == 'development' %}disabled{%endif%}>
              </div>

              <div class="file-path-wrapper">
                <input class="file-path validate" name="employees" type="text" required {% if not config["FLASK_ENV"] == 'development' %}disabled{%endif%}>
              </div>
            </div>
            <div class="center-align">
              <a class="center-align small uppercase" href="{{url_for('static', filename='template_employees.csv') }}" target="_blank"><i class="material-icons">file_download</i>Employees Template CSV</a>  
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <p class="heading center-align">
              <i class="material-icons">details</i>
              <span>Leave Balances</span>
            </p>
            <div class="file-field input-field">
              <div class="btn flat round">
                <span>Balances CSV</span>
                <input type="file" name="balances" required {% if not config["FLASK_ENV"] == 'development' %}disabled{%endif%}>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" name="balances" type="text" required {% if not config["FLASK_ENV"] == 'development' %}disabled{%endif%}>
              </div>
            </div>
            <div class="center-align">
              <a class="center-align small uppercase" href="{{url_for('static', filename='template_leaves.csv') }} target="_blank""><i class="material-icons">file_download</i>Leaves Template CSV</a>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row center-align">
      <button type="submit" name="submit" class="btn flat center" {% if not config["FLASK_ENV"] == 'development' %}disabled{%endif%}><i class="material-icons">arrow_drop_up</i> Import Now</button>
    </div>

  </form>

  <section class="import-help">

    <h4 class="center-align">Template Guide</h4>
    <br>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <h5>Employees</h5>
            <hr>
            <div class="list">
              <div>
                <p class="key">email</p>
                <p>Employee email address. Should match with <u>email</u> of a record in Leave Balance CSV.</p>
              </div>
              <div>
                <p class="key">first_name, last_name, designation</p>
                <p>Text with maximum length of 45 Characters</p>
              </div>
              <div>
                <p class="key">religion</p>
                <p>
                  Accepted Values
                  <ul class="browser-default">
                    {% for religion in religions %}
                    <li>{{religion}}</li>
                    {% endfor %}
                  </ul>
                </p>
              </div>
              <div>
                <p class="key">department</p>
                <p>
                  Accepted Values
                  <ul class="browser-default">
                    {% for department in departments %}
                    <li>{{department.name}}</li>
                    {% endfor %}
                  </ul>
                </p>
              </div>
              <div>
                <p class="key">date_of_joining</p>
                <p>Format: YYYY-MM-DD <br>
                Example: 2018-10-22</p>
              </div>
              <div>
                <p class="key">reporting_manager_email</p>
                <p>Email address of reporting manger. This must be already registered or belong to another record in the same CSV</p>
              </div>
              <div>
                <p class="key">general_leaves_available, medical_leaves_available</p>
                <p class="key">general_leaves_remaining, medical_leaves_remaining</p>
                <p>Numeral count of leaves according to &lt;type of leave&gt;_leaves_&lt;available or remaining&gt;</p>
              </div>
              <div>
                <p class="key">probation</p>
                <p>Accepted values (Numeral): '1' for on probation. '0' for not on probation.</p>
              </div>
              <div>
                <p class="key">salary</p>
                <p>...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <h5>Leave Balances</h5>
            <hr>
            <div class="list">
              <div>
                <p class="key">email</p>
                <p>Employee email address. Should match with <u>email</u> of a record in Leave Balance CSV.</p>
              </div>
              <div>
                <p class="key">from_date, to_date, time_stamp</p>
                <p>Format: YYYY-MM-DD <br>
                Example: 2018-10-22</p>
              </div>
              <div>
                <p class="key">leave_type</p>
                <p>Accepted values: 'General' or 'Medical'</p>
              </div>
              <div>
                <p class="key">purpose</p>
                <p>Text with maximum length of 200 characters. Longer text will be truncated</p>
              </div>
              <div>
                <p class="key">hr_remark, manager_remark</p>
                <p>Text with maximum length of 128 characters. Longer text will be truncated</p>
              </div>
              <div>
                <p class="key">manager_approval, hr_approval</p>
                <p>Accepted Values: 'Unapproved' or 'Approved'</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</main>

{% endblock %}
