{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<main id="login">
  <div class="login">
    <img class="logo" src="../static/img/HOH-Logo_change.jpg" alt="hoh-logo">
    <p class="logo-name">Habib METRO Pakistan(Pvt.)Limited <br> Leaves Portal </p>
    
    <div class="content">
      <form method="POST" action="." accept-charset="UTF-8" role="form">

        {% include 'components/loading.html' %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="notice solid {{category}}"><span>{{message}}</span></div>
        <br>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {{ form.csrf_token }}
        <div class="input-field">
          <!-- <label for="emailaddr">Email Address</label> -->
          <input placeholder="Email Address" id="emailaddr" type="text" name="email" autofocused required>
        </div>
        <div class="input-field">
          <!-- <label for="password">Password</label> -->
          <input placeholder="Password" id="password" type="password" name="password" required>
        </div>

        <button class="btn" type="submit" name="submit">Sign In</button>
      </form>
    </div>

  </div>
</main>

{% endblock %}
