{% extends 'base.html' %}

{% block title %}Application Settings{% endblock %}

{% block body %}
<main>
    <div class="row">
        <form method="POST" class="col s12 m8 offset-m2">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input class="settings" type="text" value="{{ data.general_leaves_limit }}" placeholder="{{ data.general_leaves_limit }}" name="general_leaves_limit" id="general_leaves_limit">
                    <label class="active"  for="general_leaves_limit">General Leaves Limit</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.medical_leaves_limit }}" type="text" placeholder="{{ data.medical_leaves_limit }}" name="medical_leaves_limit" id="medical_leaves_limit">
                    <label class="active" for="medical_leaves_limit">Medical Leaves Limit</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.probation_leaves_limit }}" type="text" placeholder="{{ data.probation_leaves_limit }}" name="probation_leaves_limit" id="probation_leaves_limit">
                    <label class="active" for="probation_leaves_limit">Probation Leaves Limit</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.fiscal_year_starting }}" type="text" placeholder="{{ data.fiscal_year_starting }}" name="fiscal_year_starting" id="fiscal_year_starting">
                    <label class="active" for="fiscal_year_starting">Fiscal Year Starting</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.probation_period }}" type="text" placeholder="{{ data.probation_period }}" name="probation_period" id="probation_period">
                    <label class="active" for="probation_period">Probation Period</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.company_name }}" type="text" placeholder="{{ data.company_name }}" name="company_name" id="company_name">
                    <label class="active" for="company_name">Company Name</label>
                </div>

                <div class="input-field col s12 m6">
                    <input value="{{ data.director_email }}" type="text" placeholder="{{ data.director_email }}" name="director_email" id="director_email">
                    <label class="active" for="director_email">Director's Email</label>
                </div>

                <div class="input-field col s12 center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
